# MProxy Configuration
MPROXY_HTTPS_PORT=443
MPROXY_HTTP_PORT=80
MPROXY_API_PORT=3008
MPROXY_DATA_PATH=/var/lib/mproxy/data
MPROXY_HOSTS_CONFIG_PATH=/etc/mproxy/hosts.toml
MPROXY_GLOBAL_BLACKLIST_IPS=192.168.1.10,10.0.0.0/24
MPROXY_INBOUND_BLOCKLIST_URL=https://raw.githubusercontent.com/bitwire-it/ipblocklist/main/inbound.txt
MPROXY_NFT_FAMILY=inet
MPROXY_NFT_TABLE=mproxy
MPROXY_NFT_CHAIN=input
MPROXY_NFT_SET_V4=inbound_v4
MPROXY_NFT_SET_V6=inbound_v6
